*{
    margin: 0;
    padding: 0;
}
body{
    background-color: cadetblue;
}

.content{
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 15px;
    margin-bottom: 15px;
}
.content input{
   padding: 14px;
   border-radius: 10px;
}
.content button{
    background-color: blue;
    border-radius: 10px;
    border: none;
    padding: 10px;
    height: 50px;
    width: 100px;
    color: white;
    font-size: 20px;
    text-align: center;
}
.content button:hover{
    cursor: pointer;
    background-color: rgb(1, 1, 207);
}
.messageArea{
    background-color: antiquewhite;
    width: 50%;
    height: 400px;
    max-height: 400px;
    overflow-y: auto;
    border-radius: 10px;
}